Keras==2.4.3
numpy==1.19.5
pandas==1.2.4
Pillow==8.1.2
scipy==1.6.3
streamlit==0.80.0
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc1
tensorflow-estimator==2.5.0rc0
toml==0.10.2
